main {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
    h2 {
      font-family: $logo;
      font-size: 2rem;
      margin: 10px;
    }
    p {
      font-family: $content;
      font-size: 1.5rem;
      text-align: center;
      margin: 10px;
    }
  }
}
.group-photos {
  max-width: 70%;
}
.squad-photos {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  .photos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
