.account-container {
  width: 100%;
}
.nav-tabs {
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 70px;

  .nav-item {
    width: 33.3%;
    background-color: black;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;

    .nav-link {
      width: 100%;
      height: 100%;
      color: white;
      font-family: $header;
      border-radius: none;
      margin: 0 auto;
    }
  }
}
