.form-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  .form-group col-sm-6 {
    width: 70%;
  }
  .form-group col-sm-2 {
    width: 30%;
    display: flex;
    flex-direction: row;
  }
}
.form-group col-sm-6 {
  width: 70%;
}
.form-control {
  width: 100%;
}
.form-group col-sm-2 {
  width: 30%;
}
.bottom-div {
  width: 100%;
}
.bottom-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img-meth-form {
  width: 40%;
}
.img-preview img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.other-forms {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.top-div {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-forms {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.left-forms {
  width: 40%;
}
.right-forms {
  width: 40%;
}
