* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
  border-bottom: 2px solid white;

  h1 {
    font-family: $logo;
    font-weight: 900;
    font-size: 40px;
  }
}
.header-content {
  height: 100%;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: black;
  color: white;
  align-items: center;
  padding: 0 15px;

  div {
    display: inline-block;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .logo-container {
    position: absolute;
    left: 46.5%;
  }
  .login-container {
    line-height: 1;
    display: flex;
    font-family: $header;

    .auth-buttons-container {
      padding-right: 20px;

      .auth-button {
        background: none;
        border: none;
        line-height: 1;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 12px;
        font-family: $header;
        color: white;
      }
      .auth-button:hover {
        text-decoration: underline;
      }
      .login {
        border-right: 2px solid white;
      }
    }
    .search-container {
      svg {
        height: 100%;
      }
      svg:hover {
        cursor: pointer;
      }
      input {
        background-color: black;
        color: white;
        border: none;
        border-bottom: 2px white solid;
        width: 150px;
        margin-right: 15px;
        font-size: 14px;
      }

      button {
        background-color: white;
        color: black;
        border: 2px solid white;
        line-height: 1.4;
        border-radius: 3px;
      }
    }
  }
}

.modal {
  font-family: $header;

  .modal-title {
    position: relative;
    margin-top: 30px;
    left: 70px;
  }

  .modal-body {
    margin-top: 30px;

    button {
      background-color: black;
      border: black;
      position: relative;
      left: 55px;
      height: 50px;
      width: 350px;
      margin-top: 30px;
      border-radius: 30px;
    }
  }

  .modal-footer {
    button {
      background-color: grey;
      border: grey;
      border-radius: 30px;
    }
  }
}
