.header-nav {
  display: flex;
  ul {
    display: flex;
    list-style: none;
    li {
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 12px;
      // display: inline;
      font-family: $header;
      padding-left: 36px;
    }
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .nav-toggle {
//   position: absolute;
//   left: 15px;
//   top: 35;
//   z-index: 101;
//   height: 30px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   line-height: 1.4;
//   font-size: 20px;
//   padding: 0;
//   margin: 0;
//   color: white;
// }
