.header-nav {
  display: block;
  ul {
    display: flex;
    list-style: none;
    li {
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 12px;
      display: block;
      font-family: $header;
    }
  }
}
