.header-nav {
  display: block;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    li {
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
      padding: 6px 20px 6px 0;
      display: inline;
      font-family: $header;
    }
    a {
      text-decoration: none;
      color: white;
    }
    li:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.hamburger-react {
  z-index: 1046;
  color: white;
  display: inline;
}

.offcanvas-header {
  background-color: black;
}

.offcanvas-body {
  background-color: black;
  color: white;
  padding: 50px;

  div {
    padding-top: 20px;

    .offcanvas-auth li {
      border-bottom: none;
    }

    ul {
      list-style: none;
      line-height: 2.5;
      font-family: $header;
      padding: 10px;

      li {
        border-bottom: 2px solid white;

        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
