.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.oneRecipe {
  height: 420px;
  width: 300px;
  margin: 20px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.oneRecipe :hover {
  border-right: 3px solid orange;
}
img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 5px;

  //unsure about which method of image sizing to go for (tomorrow Ed, take a look)
}
.flex-container {
  display: flex;
  justify-content: space-between;

  button {
    .button:hover {
      background: black;
      color: white;
    }
  }
}
h4 {
  text-size-adjust: 1rem;
  height: 60px;
  overflow: hidden;
}
