@media screen and (max-width: 600px) {
  .single-recipe {
    display: flex;
    flex-direction: column;
    .top-half {
      display: flex;
      flex-direction: column-reverse;

      .info-div {
        text-align: center;
      }

      img {
        width: 90vw;
        height: 350px;
        object-fit: cover;
        position: relative;
        left: 15px;
      }
      padding-bottom: 20px;
    }
    .meth-ing {
      .line-break {
        white-space: pre-line;
      }
      #ingredients {
        padding-left: 20px;
      }
      #method {
        padding: 10px;
        h3 {
          padding-top: 20px;
          padding-left: 20px;
        }
      }
    }
  }
  .comments-container {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #d8d8dd;
  }

  .comment-form {
    width: 100vw;
    padding: 20px;
    border-right: 2px solid #d8d8dd;

    h4 {
      text-align: center;
      padding-bottom: 10px;
    }
    .star-form {
      padding-bottom: 20px;
      .rating-para {
        font-family: $header;
        font-size: 15px;
        position: relative;
        right: 280px;
      }
      input {
        display: none;
      }
    }
    Form {
      .form-floating {
        padding-bottom: 10px;
        .comment {
          height: 200px;
        }
      }
      .comment-error {
        p {
          color: red;
          font-family: $header;
          font-size: 15px;
          text-align: left;
        }
      }
    }
  }

  .toast-comment {
    width: 100vw;
    padding-top: 20px;

    h4 {
      text-align: center;
      padding-bottom: 20px;
    }

    .me-auto {
      svg {
        color: #ffc107;
      }
    }

    .toast-container {
      padding-left: 70px;
      padding-bottom: 20px;
      width: 80vw;
      .toast-main {
        height: 100px;
      }
      .toast-header {
        button {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .single-recipe {
    h2 {
      text-align: center;
    }
    .top-half {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      border-bottom: 2px solid #d8d8dd;

      img {
        width: 500px;
        height: 500px;
        object-fit: cover;
      }
    }
    .info-div {
      width: 50%;

      .average-rating {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .star {
          position: relative;
          top: 20px;
          color: #ffc107;
        }
      }
    }
    .meth-ing {
      display: flex;
      border-bottom: 2px solid #d8d8dd;
      padding-bottom: 10px;
      padding-top: 10px;
      .line-break {
        white-space: pre-line;
      }
      #ingredients {
        width: 40%;
        padding-left: 30px;
      }
      #method {
        width: 60%;
        padding-right: 30px;
        padding-left: 30px;
        border-left: 2px dotted #d8d8dd;
      }
    }
  }
  .comments-container {
    display: flex;
    border-top: 2px solid #d8d8dd;
  }

  .comment-form {
    width: 50vw;
    padding: 20px;
    border-right: 2px solid #d8d8dd;

    h4 {
      text-align: center;
      padding-bottom: 10px;
    }
    .star-form {
      padding-bottom: 20px;
      .rating-para {
        font-family: $header;
        font-size: 15px;
        position: relative;
        right: 280px;
      }
      input {
        display: none;
      }
    }
    Form {
      .form-floating {
        padding-bottom: 10px;
        .comment {
          height: 200px;
        }
      }
      .comment-error {
        p {
          color: red;
          font-family: $header;
          font-size: 15px;
          text-align: left;
        }
      }
    }
  }
  .toast-comment {
    width: 50vw;
    padding-top: 20px;

    h4 {
      text-align: center;
      padding-bottom: 20px;
    }

    .me-auto {
      svg {
        color: #ffc107;
      }
    }

    .toast-container {
      padding-left: 70px;
      padding-bottom: 20px;
      .toast-main {
        width: 500px;
      }
      .toast-header {
        button {
          display: none;
        }
      }
    }
  }
}

.delete-button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border-color: black;
}
