.single-recipe {
  h2 {
    text-align: center;
  }
  .top-half {
    display: flex;
    justify-content: center;

    img {
      width: 500px;
      height: 500px;
      object-fit: cover;
    }
  }
  .meth-ing {
    display: flex;
    .line-break {
      white-space: pre-line;
    }
    #ingredients {
      width: 40%;
    }
    #method {
      width: 60%;
    }
  }
}
