main {
  section.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $body;
    border: none;
    height: 85vh;

    .about-text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      font-family: $logo;
      color: $background;
      font-size: 2rem;
      margin: 10px;
    }
    p {
      font-family: $content;
      color: $background;
      font-size: 20px;
      text-align: center;
      margin: 10px;
      width: 60%;
    }
  }
}
.group-photos {
  max-width: 70%;
}
.squad-photos {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  .photos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 600px) {
  .squad-photos {
    flex-direction: column;
  }
}
