$teal: #008080;
$orange: #ffc300;
$orange-2: #f39c12;
$orange-3: #f4a830;
$orange-4: #f6b54d;
$brown: #5b3b07;
$green-1: #26bf8e;
$blue: #bf2657;

$palette-1: #2f5d62;
$palette-2: #5e8b7e;
$palette-3: #a7c4bc;
$palette-4: #dfeeea;

$boogie-1: #142f43;
$boogie-2: #ffab4c;
$boogie-3: #ff5f7e;
$boogie-4: #e2e5e8;

$background: $boogie-1;
$main-text: $boogie-2;
$body: $boogie-4;
$h2: $boogie-2;
